<footer>Copyright &copy; <span id="copyright"></span> | Tushar Bhowal</footer>

<script>
    document.querySelector("#copyright").textContent = new Date()
      .getFullYear()
      .toString();
  </script>